<a href="https://colab.research.google.com/github/19PA1A0562/python-basics/blob/master/Untitled13.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
# Import the required packages
import pandas as pd # for handling data in the form of tables
import numpy as np # For handling matrix
from sklearn.model_selection import train_test_split # For spliting the data into train and test
from sklearn.linear_model import LinearRegression # for using the model
import matplotlib.pyplot as plt # for plotting
from sklearn.metrics import mean_squared_error

In [0]:
data=pd.read_csv("students_placement_data.csv")
data

     Roll No Gender  ... registered_for_ Placement_Training  placement status
0          1      M  ...                                 NO        Not placed
1          2      F  ...                                yes            Placed
2          3      F  ...                                yes        Not placed
3          4      M  ...                                yes        Not placed
4          5      M  ...                                yes        Not placed
..       ...    ...  ...                                ...               ...
112      113      M  ...                                 NO        Not placed
113      114      M  ...                                 NO        Not placed
114      115      M  ...                                 NO        Not placed
115      116      M  ...                                 NO        Not placed
116      117      M  ...                                 NO        Not placed

[117 rows x 9 columns]

In [0]:
x=data["SSC Percentage"].values.reshape(-1,1)
y=data["B.Tech_percentage"].values.reshape(-1,1)

In [0]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2,random_state=0)

In [0]:
a=LinearRegression()
a.fit(x_train,y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [0]:
c=a.predict(x_test)
c

array([[64.00954749],
       [70.14368267],
       [61.80037516],
       [64.62075184],
       [65.85052444],
       [40.68805155],
       [67.5221315 ],
       [63.10378684],
       [62.51467421],
       [69.16428294],
       [64.25255645],
       [52.72067686],
       [67.75777655],
       [66.82992417],
       [62.29375698],
       [60.3275936 ],
       [56.40263075],
       [58.97999848],
       [66.21871983],
       [68.30270573],
       [67.44849243],
       [49.03872297],
       [67.5221315 ],
       [66.71210165]])

In [0]:
b=pd.DataFrame({"Actual":y_test.flatten(),"Predicted":c.flatten()})
b

    Actual  Predicted
0    71.49  64.009547
1    81.10  70.143683
2    62.98  61.800375
3    68.70  64.620752
4    61.02  65.850524
5    60.53  40.688052
6    61.00  67.522132
7    35.84  63.103787
8    68.30  62.514674
9    69.62  69.164283
10   83.38  64.252556
11   45.26  52.720677
12   78.00  67.757777
13   54.18  66.829924
14   65.53  62.293757
15   52.00  60.327594
16   51.00  56.402631
17   73.13  58.979998
18   74.30  66.218720
19   63.41  68.302706
20   70.01  67.448492
21   55.70  49.038723
22   74.96  67.522132
23   70.85  66.712102

In [0]:
print(mean_squared_error(y_test,c))

109.95407980481782

In [0]:
x=data["inter_Diploma_percentage"].values.reshape(-1,1)
y=data["B.Tech_percentage"].values.reshape(-1,1)

In [0]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2,random_state=0)

In [0]:
a=LinearRegression()
a.fit(x_train,y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [0]:
c=a.predict(x_test)
c

array([[58.92376179],
       [73.8353596 ],
       [46.60548533],
       [61.84124832],
       [61.35500056],
       [41.01363615],
       [62.73270253],
       [60.78771152],
       [64.35352838],
       [68.89184076],
       [69.70225369],
       [52.19733451],
       [71.80932729],
       [67.75726267],
       [64.62096465],
       [59.08584437],
       [62.73270253],
       [63.29999158],
       [70.99891437],
       [62.0033309 ],
       [65.97435423],
       [54.55563612],
       [68.97288205],
       [72.05245117]])

In [0]:
b=pd.DataFrame({"Actual":y_test.flatten(),"Predicted":c.flatten()})
b

    Actual  Predicted
0    71.49  58.923762
1    81.10  73.835360
2    62.98  46.605485
3    68.70  61.841248
4    61.02  61.355001
5    60.53  41.013636
6    61.00  62.732703
7    35.84  60.787712
8    68.30  64.353528
9    69.62  68.891841
10   83.38  69.702254
11   45.26  52.197335
12   78.00  71.809327
13   54.18  67.757263
14   65.53  64.620965
15   52.00  59.085844
16   51.00  62.732703
17   73.13  63.299992
18   74.30  70.998914
19   63.41  62.003331
20   70.01  65.974354
21   55.70  54.555636
22   74.96  68.972882
23   70.85  72.052451

In [0]:
print(mean_squared_error(y_test,c))

98.30444865156251

mean_squared_error for SSC Percentage and B.Tech_percentage  is 109.9

mean_squared_error for inter_Diploma_Percentage and B.Tech_Percentage is 98.3

so B.Tech_Percentage is more related to inter_Diploma_Percentage than SSC_Percentage

DIFFERENCE BETWEEN BAIS AND VARIANCE ::
    Bias is the same as the mean square error (MSE).Variance means if the model is not properly fitted it gives wrong values for test data .If the data is learned repeatedly by the model it has high variance.
    If the data is not properly learned by the model it has low variance and high bias.
    Models with high bias tend to underfit the training data while those with high variance tend to overfit.

DIFFERENCE  BETWEEN TRAIN,TEST,SPLIT AND CROOSSVALIDATION ::


Train_test_split :: train_test_split is a function in Sklearn model selection for splitting data arrays into two subsets: for training data and for testing data. With this function, you don't need to divide the dataset manually. By default, Sklearn train_test_split will make random partitions for the two subsets.


CROSSVALIDATION ::
k-Fold Cross-Validation is a resampling procedure used to evaluate machine learning models on a limited data sample. The procedure has a single parameter called k that refers to the number of groups that a given data sample is to be split into.